<%= centered_title(title_for(tab)) %>
<%= eight_columns_centered do %>
  <div id="alert-box-container">
    <% if contact_us_failure && :contactUs == tab.to_sym %>
      <%= render 'errors' %>
    <% elsif contact_us_action && :home == tab.to_sym %>
      <%= render 'success' %>
    <% end %>
  </div>
<% end %>
<% tab = tab.to_s.underscore %>
<% if lookup_context.template_exists?(tab, 'main', true) %>
  <%= render :partial => tab %>
<% else %>
  <%= eight_columns_centered do; split_as_paragraphs(t(".#{tab}_content")); end %>
<% end %>
